*{
  margin:0;
  padding: 0;
  font-family:'Space Mono', monospace;

}

body{
  background-image:url('/images/cartoonspace.gif');
  background-size: 1600px 1500px;
  background-repeat: no-repeat;
}

#header{
  background-image:url('/images/stars.gif');
  color:#8aff1c;
}

#header h1{
  font-size: 40px;
  text-align: center;
  text-shadow: rgb(15, 14, 14) 0 0 10px;
  padding: 10px;
}

.container{
  border-radius: 10px;
  margin-top: 85px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f4f4;
  width:65%;
  height:600px;
  text-align: center;
}

fieldset{
  font-size: 40px;
}

input{
  font-size: 20px;
}

.or{
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.calculateBtn{
  margin-left: 15px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 20px;
  width: 120px;
}

.clearBtn{
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 20px;
  width: 120px;
}

.results{
  margin-top: 10px;
  font-size: 25px;
}